.Footer{
    height: 8vh;;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    color: #fff;
    text-align: center;
    position: relative; 
    align-self: flex-end;
    padding: 10px;
}
